@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Course Work</h1>
    <p>App for managing student and course enrollments.</p>
    <div class="row">
        <div class="col-md-6">
            <h2>Deal With Students</h2>
            <a class="btn btn-lg btn-primary" asp-action="Index" asp-controller="Student">Students</a>
        </div>
        <div class="col-md-6">
            <h2>Deal With Courses</h2>
            <a class="btn btn-lg btn-primary" asp-action="Index" asp-controller="Course">Courses</a>
        </div>
    </div>
</div>