@model IEnumerable<CourseVm>
@{
    ViewBag.Title = "Courses";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <a class="btn btn-success" role="button" disabled><i class="glyphicon glyphicon-plus"></i>Add</a>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.Name</td>
                    <td class="text-right">
                        <a class="btn btn-default btn-sm" asp-action="Details" asp-route-id="@course.Id" title="Course details"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a class="btn btn-warning btn-sm" disabled title="Edit course"><i class="glyphicon glyphicon-pencil"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
