<html>
<head>
    <title>C# - Indeks stranica</title>
</head>
<body>
    <h1>Indeks stranica</h1>
    <button>Show/Hide Counter</button>
    <button>Increment Counter</button>
    Counter: <span>0</span>
</body>
</html>