


<h1 class="red">Indeks stranica</h1>
<button id="showHideButton" class="btn btn-default pointer">Show/Hide Counter</button>
<button id="increaseButton" class="btn btn-default pointer">Increase Counter</button>
<button id="renderButton" class="btn btn-default pointer">Render students</button>

<button type="button" id="counterContainer" class="btn btn-primary">
    Counter <span id="counter" class="badge badge-light">0</span>
</button>

@section Scripts{ 
    <script src="js/index.js"></script>
}